@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:  #0B0B45;
    font-family: 'Lato', sans-serif;
}
.main-title{

    text-align: center;
    padding-top: 20px;
    color: whitesmoke;

}
#book {
    display: center;
    position: absolute;
    margin: 0;
    top: 12%;
    left: 42%;
    background-color: #de5d83;
    border-radius: 10px;
    border: 2px double bisque;
    color: black;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 200px;
    transition: 0.5s;
    cursor: pointer;
    
}
#book:hover{
    color: yellow;
}
#book-list {
    text-align: center;
    padding: 100px;
    list-style: none;

    
}
#book-list a{
    color: whitesmoke;
    
}
#info {
    text-align: center;
    color: whitesmoke;
}

#footer{
    text-align: center;
    color: whitesmoke;
}